[Unit]
Description=Update Pi-hole and gravity
Requires=pihole-FTL.service
After=pihole-FTL.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/local/bin/pihole updatePihole && /usr/local/bin/pihole updateGravity && /usr/local/bin/pihole restartdns'

[Install]
WantedBy=multi-user.target
