{{ plausible_domain }} {
    encode zstd gzip
    tls {{ admin_email }}
    reverse_proxy plausible:8000

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Frame-Options DENY
        Permissions-Policy camera=(), microphone=(), geolocation=()
    }
}

{{ ntfy_domain }}, http://{{ ntfy_domain }} {
    encode zstd gzip
    tls {{ admin_email }}
    reverse_proxy ntfy:80

    # Redirect HTTP to HTTPS, but only for GET topic addresses, since we want
    # it to work with curl without the annoying https:// prefix
    @httpget {
        protocol http
        method GET
        path_regexp ^/([-_a-z0-9]{0,64}$|docs/|static/)
    }
    redir @httpget https://{host}{uri}
}

{{ radicale_domain }} {
    encode zstd gzip
    reverse_proxy radicale:5232
    header {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
    }
}
