# ntfy server configuration
# https://docs.ntfy.sh/config/

# Public base URL
base-url: https://{{ ntfy_domain }}

# Listen address for the HTTP & HTTPS web server
listen-http: :80

# Behind proxy configuration
# Tell ntfy to use "X-Forwarded-For" header to identify visitors for rate limiting
behind-proxy: true

# Path to the cache file
cache-file: /var/cache/ntfy/cache.db

# If set, attachments will be stored in this directory
attachment-cache-dir: /var/cache/ntfy/attachments

# Cache duration for messages
cache-duration: 12h

# Keepalive interval
keepalive-interval: 45s

# Manager interval
manager-interval: 1m
